@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  $darth-llama: #00140F;

    @font-face {
      font-family: "Atkinson";
      font-weight: 400;
      src: url(/fonts/Atkinson-Hyperlegible-Regular-102.woff) format("woff"),
           url(/fonts/Atkinson-Hyperlegible-Regular-102.woff2) format("woff2");
    }
    @font-face {
      font-family: "Atkinson Headings";
      font-weight: 400;
      src: url(/fonts/Atkinson-Hyperlegible-Bold-102.woff) format("woff"),
           url(/fonts/Atkinson-Hyperlegible-Bold-102.woff2) format("woff2");
    }

    * {
        font-family: "Atkinson"
    }

    h1,h2,h3,h4,h5,h6, .font-heading {
        font-family: "Atkinson Headings"
    }

    html {
      color: $darth-llama;
      // @media (prefers-color-scheme: dark) {
      //   background:;
      // }
    }
  }